* {
    font-family: 'Roboto', sans-serif;
}

/* nav */

.topnav__ul{
    margin-bottom:10px solid black;
}

.topnav__li {
    height:70px;
    color: #000000;
    display:inline-block;
    padding: 25px;
    box-sizing: border-box;

    /*
    probablemente sacar
    border-top:5px solid greenyellow;
    */
}

.topnav__li a {
    color: #000000;
    text-decoration: none;
}

.topnav__li i {
    box-sizing: border-box;

}

/* centrar slideboard de js*/


.slideimageboard{

    text-align: center;
}
/* foot */

footer{
    background-color: #424242;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.footerText{
    padding-left:25px;
    padding-top:5px;
    color:#ffffff;
}

.rrss{
    float:left;
}
.footer_rs {
    height:25px;
    color: #ffffff;
    display: block;
    padding: 10px;
    box-sizing: border-box;

}

.footer_rs a {
    color: #ffffff;
    text-decoration: none;
}


.footer_rs i {
    box-sizing: border-box;
}

.contact{
    float:right;
}

.contactInfo{
    
    height:25px;
    color: #ffffff;
    display: block;
    padding:10px;
    box-sizing: border-box;
    
}

.contactInfo a{
    text-decoration: none;
}


/* color iconos */


.fa-instagram{
    color: #E1306C;
}

.fa-facebook-messenger{
    color:#006aff;
}

.fa-envelope{
    color:#ffffff;
}

.fa-whatsapp{
    color:green;
}

.fa-search-location{
    color:#ffffff;
}
